In [1]:
# https://pypi.org/project/torch-geometric/
# pip install torch
# pip install torch-scatter -f https://data.pyg.org/whl/torch-1.13.0+cpu.html
# pip install torch-sparse -f https://data.pyg.org/whl/torch-1.13.0+cpu.html
# pip install torch-geometric


# https://towardsdatascience.com/louvains-algorithm-for-community-detection-in-python-95ff7f675306
import torch
from torch import Tensor
from torch_geometric.nn import GCNConv
from torch_geometric.datasets import Planetoid
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import networkx as nx
from collections import Counter

In [2]:
# self-made packages
from utils.data import data_preprocess


train = data_preprocess("\Training")
train_list, train_dict = train.train_data()
df = pd.DataFrame(data=train_dict)

In [3]:
egonet = data_preprocess("\egonets")
ego_list = egonet.ego_data()

In [4]:
temp = []
for i in range(len(ego_list[1])):
    temp += ego_list[1][i]

In [5]:
train_dict[0]

{'UserId': '239',
 'Predicted': '306 281 311 247 342 315 297 303 304 343 333 296 250 255 331 248 340 265 322 289 344 287 326 249 324 307 290;335 253 325 320 283 258 284 318 330 241 276 312 340 301 334 291 295 242 337 338 273 277 293 251 279 285 267 243 240 298 302 286 305 282 294 256 313 263 274 339 309 336 310 264 266 269;280 308 254 246 270 314 299 329 261 271 327 259 317;300 252 332 328 268 272 323 288 257 292 245 319 275 341 282 321 339 244 316'}

In [7]:
from utils.user import users

users = users()

In [16]:
users.iloc[list(set(temp))]

,last_name,first_name,birthday,name,gender,locale,hometown;name,hometown;id,education;school;name,education;school;id,...,work;projects;from;name,work;projects;from;id,education;classes;description,work;from;name,work;from;id,political,religion,work;projects;end_date,work;projects;description,location
240,222,182,185,240,0,1,110,110,195,202,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
241,223,183,186,241,1,1,-1,-1,198,205,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
242,224,184,-1,242,0,0,111,111,199,206,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
243,225,185,187,243,0,1,112,112,201,208,...,-1,-1,6,-1,-1,-1,-1,0,0,-1
244,226,186,188,244,0,1,113,113,203,210,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
340,242,272,203,338,0,1,-1,-1,233,240,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
341,305,261,95,339,0,1,110,110,366,375,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
342,306,273,217,340,0,1,130,130,368,377,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
343,307,33,257,341,0,1,-1,-1,369,378,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
344,308,274,-1,342,0,1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1